*{
	 margin:0;
	 padding:0;
	  font-size:12px;
}
.iconfont{
	position:relative;
	top:3px;
	font-size:20px;
}
label{
	position:relative;
	top:110px;
	left:50px;
}input{
	position:relative;
}
.calendar{
	position:relative;
	border:2px solid #b8c1c9;
	padding:5px;
	width:200px;
	z-index: 2;
}
.calendar h6{
	position: relative;
	padding:4px 0;
	width:100%;
	background:#d2dde7;
	
}
.calendar h6 span{
	display:block;
	width:100%;
	text-align: center;
	font-size:14px;
}
.calendar h6 b.prev{
	position: absolute;
width: 0; 
height: 0; 
top:8px;
left:10%;
border-top:6px solid transparent ;
	 border-right:6px solid #999; 
	 border-bottom:6px solid transparent ;
}
.calendar h6 b.next{
	position: absolute;
	width: 0; 
height: 0; 
top:8px;
right:10%;
border-top:6px solid transparent ;
	 border-left:6px solid #999; 
	 border-bottom:6px solid transparent ;
}
.calendar ul{
 list-style: none;
 padding:0;
 margin:0;
 font-size: 0;
}
.calendar ul li{
	font-size:12px;
	width:14.28%;
	padding:1px 0;
	text-align:center;
	display:inline-block;
}
.calendar ul.dateUl li:hover{
	background:#aaa;
}
.active{
	background:#777;
}
